<p id="notice"><%= notice %></p>

<h1>Fundos</h1>

<table>
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Nome</th>
      <th>Cnpj</th>
      <th>Segmento</th>
      <th>Tx adm</th>
      <th>Data const</th>
      <th>Num cotas emitidas</th>
      <th>Patrimonio inicial</th>
      <th>Valor inicial cota</th>
      <th>Prazo</th>
      <th>Tipo gestao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fundos.each do |fundo| %>
      <tr>
        <td><%= fundo.ticker %></td>
        <td><%= fundo.nome %></td>
        <td><%= fundo.cnpj %></td>
        <td><%= fundo.segmento %></td>
        <td><%= fundo.tx_adm %></td>
        <td><%= fundo.data_const %></td>
        <td><%= fundo.num_cotas_emitidas %></td>
        <td><%= fundo.patrimonio_inicial %></td>
        <td><%= fundo.valor_inicial_cota %></td>
        <td><%= fundo.prazo %></td>
        <td><%= fundo.tipo_gestao %></td>
        <td><%= link_to 'Show', fundo %></td>
        <td><%= link_to 'Edit', edit_fundo_path(fundo) %></td>
        <td><%= link_to 'Destroy', fundo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fundo', new_fundo_path %>
