<div class="main">
  <% if(params.has_key?(:cnpj)) %>
  <h3 class="center-align">Rendimentos do ativo <%= params[:cnpj] %></h3>
  <% end %>
  <% if (@ngiri.kind_of?(Array)) %>
  <table id="tabelaRendimentosAtivo" class="centered">
    <tr>
      <th class="center-align">Código</th>
      <th class="center-align">Dia do Pagamento</th>
      <th class="center-align">Rendimento</th>
      <th class="center-align">Data base</th>
    </tr>
    <% @ngiri.each do |item| %>
    <tr class="avisoRendimento dia_<%= item['dataBase'] %>">
      <td class="codigo"><%= item['codigoAtivo'] %></td>
      <td class="diaPagamento"><%= item['diaPagamento'] %></td>
      <td class="rendimento">R$<%= item['rendimento'] %></td>
      <td class="dataBase"><%= item['dataBase'] %></td>
    </tr>
    <% end %>
  </table>
  <% else %>
  <h5><%= @ngiri%></h5>
  <% end %>
</div>