<p id="notice"><%= notice %></p>

<p>
  <strong>Codigoativo:</strong>
  <%= @dados_fundo.codigoAtivo %>
</p>

<p>
  <strong>Rendimento:</strong>
  <%= @dados_fundo.rendimento %>
</p>

<p>
  <strong>Data Base:</strong>
  <%= @dados_fundo.dataBase %>
</p>

<p>
  <strong>Dia Pagamento:</strong>
  <%= @dados_fundo.diaPagamento %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @dados_fundo.cnpj %>
</p>

<%= link_to 'Edit', edit_dados_fundo_path(@dados_fundo) %> |
<%= link_to 'Back', dados_fundos_path %>
