<div class="navbar-fixed">
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">SIN5005</a>
			<% if current_user %>

				<ul class="right hide-on-med-and-down">
					<li><a href="/">Página Inicial</a></li>
				</ul>
				<ul id="side-fixed" class="sidenav sidenav-fixed">
					<li>
						<div class="user-view">
							<div class="background">
								<%= image_tag('landscape.jpg', :class => "full-image") %>
							</div>
							<a href="#user">
								<%= link_to root_path do %>
								<%= image_tag('user2.png', :class => "full-image, circle") %>
								<% end %>
								<a href="#name"><span class="white-text name"><%= current_user.nome %></span></a>
								<a href="#email"><span class="white-text email"><%= current_user.email %></span></a>
							</a>
						</div>
					</li>

					<% if current_user %>
					  <li><a class="subheader"><%= link_to "Log Out", logout_path %></a> </li>
					
					<% end %>

					
				</ul>
			
			<% end %>
			<a href="#" data-target="side-fixed" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
	</nav>
</div>
<% if current_user %>


<% else %>
							<%= link_to "Novo Usuário", new_usuario_path %> ou 
					  <%= link_to "Log In", login_path %>
					
			<% end %>

			